<div class="container">
  <div class="d-flex row" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right col-md-3 col-sm-12 sidebar" id="sidebar-wrapper">
      <li class="list-group-item title-list">
        <h5>Danh Mục</h5>
      </li>
      <div class="list-group list-group-flush" *ngIf="store.getState().Categories.fetched">
        <ng-container *ngFor="let category of store.getState().Categories.items">
          <li class="list-group-item" routerLinkActive="active">
            <i class=""></i>
            <a [routerLink]="categoryDetailPage(category.getSlug())"
              ><p>{{ category.getName() }}</p></a
            >
          </li>
        </ng-container>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" class="col-md-9 col-sm-12">
      <div class="row">
        <h2 class="page-title-content">CÁC MẪU WEBSITE</h2>
        <small></small>
      </div>
      <ng-container *ngIf="payload.fetched; else loading">
        <div class="container">
          <div class="product-list row">
            <ng-container *ngIf="(payload.items | hasItem); else noProducts">
              <div class="product-item col-md-4" *ngFor="let product of payload.items">
                <product-item [product]="product"></product-item>
              </div>
            </ng-container>
          </div>
          <div class="pagination">
            <length-aware-paginator *ngIf="payload.fetched" [(paginator)]="payload.pagination"></length-aware-paginator>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <div id="loading">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </ng-template>
      <ng-template #noProducts>
        <div id="noProducts">
          <p>Hiện không tìm thấy website theo mẫu bạn quan tâm</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
