<div class="wardrobe" *ngIf="payload.fetched">
  <div class="wardrobe__notification">
    <div class="container notification--desc">
      <p><span>i</span><a (click)="openNav()">How does resell work?</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 wardrobe__left-col">
        <h1 class="title">Wardrobe</h1>
        <div class="box">
          <p class="box-number">{{ payload.items.length }}</p>
          <p class="box-description">Total Listings</p>
        </div>
        <div class="box">
          <p class="box-number symbol">{{ payload.totalValueMade }}</p>
          <p class="box-description">Total Value Made</p>
        </div>
        <div class="box">
          <p class="box-number symbol">{{ payload.totalPotentialValue }}</p>
          <p class="box-description">Total Potential Value</p>
        </div>
      </div>
      <div class="col-12 col-md-9 wardrobe__right-col">
        <nav>
          <div class="nav-main">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-all-tab"
                data-toggle="tab"
                href="#nav-all"
                role="tab"
                aria-controls="nav-all"
                aria-selected="true"
                ><span>All Items ({{ payload.items.length }})</span></a
              >
              <a
                class="nav-item nav-link"
                id="nav-pending-tab"
                data-toggle="tab"
                href="#nav-pending"
                role="tab"
                aria-controls="nav-pending"
                aria-selected="false"
                ><span>Pending ({{ payload.pendingProdutcs.length }})</span></a
              >
              <a
                class="nav-item nav-link"
                id="nav-sold-tab"
                data-toggle="tab"
                href="#nav-sold"
                role="tab"
                aria-controls="nav-sold"
                aria-selected="false"
                ><span>Sold ({{ payload.soldProducts.length }})</span></a
              >
            </div>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-all"
            role="tabpanel"
            aria-labelledby="nav-all-tab"
          >
            <div class="products" *ngIf="payload.items | hasItem">
              <a
                class="child"
                *ngFor="let item of payload.items"
                [routerLink]="getRedirectUrl(item)"
              >
                <img
                  [ngStyle]="{
                    'background-image': item.getImageBackgroundStyle()
                  }"
                  src="/assets/images/mask.png"
                  alt=""
                />
                <h2 class="product--name">{{ item.designer.name }}</h2>
                <p class="product--info">{{ item.name }}</p>
                <div
                  class="product--state"
                  [ngStyle]="{
                    'background-color': item.getStatusLabel().color
                  }"
                >
                  <span class="status">{{ item.getStatusLabel().label }}</span>
                  <span class="price">${{ item.price.price }}</span>
                </div>
              </a>
            </div>
            <div class="products" *ngIf="!(payload.items | hasItem)">
              Resource not found!
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-pending"
            role="tabpanel"
            aria-labelledby="nav-pending-tab"
          >
            <div class="products" *ngIf="payload.pendingProdutcs | hasItem">
              <div
                class="child"
                *ngFor="let item of payload.pendingProdutcs"
                [routerLink]="getRedirectUrl(item)"
              >
                <img
                  [ngStyle]="{
                    'background-image': item.getImageBackgroundStyle()
                  }"
                  src="/assets/images/mask.png"
                  alt=""
                />
                <h2 class="product--name">Balenciaga</h2>
                <p class="product--info">{{ item.name }}</p>
                <div
                  class="product--state"
                  [ngStyle]="{
                    'background-color': item.getStatusLabel().color
                  }"
                >
                  <span class="status">{{ item.getStatusLabel().label }}</span>
                  <span class="price">${{ item.price.price }}</span>
                </div>
              </div>
            </div>
            <div class="products" *ngIf="!(payload.pendingProdutcs | hasItem)">
              Resource not found!
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-sold"
            role="tabpanel"
            aria-labelledby="nav-sold-tab"
          >
            <div class="products" *ngIf="payload.soldProducts | hasItem">
              <div
                class="child"
                *ngFor="let item of payload.soldProducts"
                [routerLink]="getRedirectUrl(item)"
              >
                <img
                  [ngStyle]="{
                    'background-image': item.getImageBackgroundStyle()
                  }"
                  src="/assets/images/mask.png"
                  alt=""
                />
                <h2 class="product--name">Balenciaga</h2>
                <p class="product--info">{{ item.name }}</p>
                <div
                  class="product--state"
                  [ngStyle]="{
                    'background-color': item.getStatusLabel().color
                  }"
                >
                  <span class="status">{{ item.getStatusLabel().label }}</span>
                  <span class="price">${{ item.price.price }}</span>
                </div>
              </div>
            </div>
            <div class="products" *ngIf="!(payload.soldProducts | hasItem)">
              Resource not found!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="howSell" class="overlay">
  <div class="overlay-content content">
    <h3>How does resell works?</h3>
    <p>
      when you sell an item in second cycle ... Lorem Ipsum is simply dummy text
      of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <h4>States of reselling</h4>
    <ol>
      <li>Resell</li>
      <li>Pending Listing</li>
      <li>Pending Sale</li>
      <li>Pending Delivery</li>
      <li>Sale Completed</li>
    </ol>
  </div>
  <div class="overlay-content">
    <i (click)="closeNav()" class="fa fa-times-circle-o" aria-hidden="true">
      <span>Close</span></i
    >
  </div>
</div>
