<header class="header" *ngIf="store.getState().Auth.login.loggedin">
  <div class="container">
    <a routerLink="/" class="logo"
      ><img src="/assets/images/logo.png" alt=""
    /></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"
      ><span class="navicon"></span
    ></label>
    <ul class="menu">
      <li>
        <a routerLink="/wardrobe" routerLinkActive="menu-actived">Wardrobe</a>
      </li>
      <li>
        <a class="link" routerLink="/queries" routerLinkActive="menu-actived"
          >Queries
          <span *ngIf="store.getState().RootReducer.no_of_unread">{{
            store.getState().RootReducer.no_of_unread
          }}</span></a
        >
      </li>
      <li>
        <a
          class="link"
          routerLink="/notification"
          routerLinkActive="menu-actived"
          >Notification <span>3</span></a
        >
      </li>
      <li>
        <a routerLink="/wallet" routerLinkActive="menu-actived">Wallet</a>
      </li>
      <li>
        <a (click)="openNav()"
          >{{ store.getState().Auth.login.profile.email }}
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</header>

<div id="myNav" class="overlay">
  <div class="overlay-content">
    <i (click)="closeNav()" class="fa fa-undo" aria-hidden="true">
      <span>Go Back</span></i
    >
    <i (click)="logout()" class="fa fa-power-off" aria-hidden="true"
      ><span>Sign Out</span></i
    >
  </div>
</div>
<router-outlet></router-outlet>
