<!-- <div class="cont">
  <div class="form sign-in">
    <h2><img width="115px" src="/assets/images/logo2.png" alt="" /></h2>
    <form
      #resetPassForm="ngForm"
      (ngSubmit)="resetPassForm.valid && onSubmit()"
    >
      <label>
        <span>Password</span>
        <input
          pattern="^[a-zA-Z0-9]{6,30}$"
          name="password"
          #password="ngModel"
          [(ngModel)]="data.password"
          required
          type="password"
        />
        <div class="errors" *ngIf="password.invalid">
          <span *ngIf="resetPassForm.submitted && password.errors.required"
            >This field is required.</span
          >
          <span *ngIf="resetPassForm.submitted && password.errors.pattern"
            >Passwords from 6 to 30 characters</span
          >
        </div>
      </label>
      <label>
        <span>Confirm Password</span>
        <input
          name="password_confirmation"
          #password_confirmation="ngModel"
          [(ngModel)]="data.password_confirmation"
          required
          class="form-control"
          type="password"
        />
        <div class="errors" *ngIf="password_confirmation.invalid">
          <span
            *ngIf="
              resetPassForm.submitted && password_confirmation.errors.required
            "
            >This field is required.</span
          >
        </div>
        <div class="errors">
          <span
            *ngIf="
              resetPassForm.submitted &&
              data.password != '' &&
              data.password_confirmation != '' &&
              data.password != data.password_confirmation
            "
            >Password does not match.</span
          >
        </div>
      </label>
      <a routerLink="/auth/login" class="forgot-pass">Sign In?</a>
      <button type="submit" class="submit">Reset Password</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Reset password.</h2>
        <p>Sign in and discover great amount of new opportunities!</p>
      </div>
    </div>
  </div>
</div> -->

<div class="cont">
  <div class="form sign-in">
    <h2><img width="115px" src="/assets/images/logo2.png" alt="" /></h2>
    <form
      #resetPassForm="ngForm"
      (ngSubmit)="resetPassForm.valid && onSubmit()"
    >
      <label>
        <span>Password</span>
        <input
          pattern="^[a-zA-Z0-9]{6,30}$"
          name="password"
          #password="ngModel"
          [(ngModel)]="data.password"
          required
          type="password"
        />
        <div class="errors" *ngIf="password.invalid">
          <span *ngIf="resetPassForm.submitted && password.errors.required"
            >This field is required.</span
          >
          <span *ngIf="resetPassForm.submitted && password.errors.pattern"
            >Passwords from 6 to 30 characters</span
          >
        </div>
      </label>
      <label>
        <span>Confirm Password</span>
        <input
          name="password_confirmation"
          #password_confirmation="ngModel"
          [(ngModel)]="data.password_confirmation"
          required
          class="form-control"
          type="password"
        />
        <div class="errors" *ngIf="password_confirmation.invalid">
          <span
            *ngIf="
              resetPassForm.submitted && password_confirmation.errors.required
            "
            >This field is required.</span
          >
        </div>
        <div class="errors">
          <span
            *ngIf="
              resetPassForm.submitted &&
              data.password != '' &&
              data.password_confirmation != '' &&
              data.password != data.password_confirmation
            "
            >Password does not match.</span
          >
        </div>
      </label>
      <a routerLink="/auth/login" class="forgot-pass">Sign In?</a>
      <button type="submit" class="submit">Reset Password</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Reset Password?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">About Us</span>
        <span class="m--in">Reset Password</span>
      </div>
    </div>
    <div class="form sign-up">
      <h3>About us</h3>
      <p></p>
      <img src="/assets/images/life.jpg" alt="" />
    </div>
  </div>
</div>
